rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /assistances/{assistanceId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == assistanceId;
    }
  }
}

// Opcional nesta fase.
// O app foi ajustado para testar sem Firebase Storage.
